html {
    background: -webkit-radial-gradient(center ellipse, #ebebeb 0%, #c5c5c5 100%);
    background: radial-gradient(ellipse at center, #ebebeb 0%, #c5c5c5 100%);
    overflow: hidden;
}

html, body{
    width: 100%;
    height: 100%;
}

#bg{
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
}

#logo{
    z-index: 100;
    position: absolute;
    margin-left: 500px;
    margin-top: 244px;
    height: 290px;
}